body{
    background: #282828;
    font-family: Arial Black;
}


.dibujin{
    width: 290px;
   height:fit-content;
    margin-top: 80px;
    margin-left: 100px;
  
    
}


.superfit{
    width:290px;
    position:relative;
    right: 13px;
    top: -1px;
    
  }

  .minipadding{
      padding-left: 5px;
      padding-right: 10px;
  }

.dibujin2{
    width: 290px;
}

.dibujin3{
    width: 290px;
}

.dibujin4{
    width: 290px;
}

.dibujin5{
    width: 290px;
}

.dibujo1{
    margin-top: 180px;
    margin-left: 100px;

   
}

.dibujo2{
    margin-top: 180px;
}

.dibujo3{
    margin-top: 180px;
}

.dibujo4{
    margin-top: 180px;
}