body{
    background: #282828;
    font-family: Arial Black;
}


.dibujin{
    width: 290px;
    
}

.dibujin2{
    width: 290px;
}

.dibujin3{
    width: 290px;
}

.dibujin4{
    width: 290px;
}

.dibujin5{
    width: 290px;
}

.dibujo1{
    margin-top: 180px;
    margin-left: 100px;
}

.dibujo2{
    margin-top: 180px;
}

.dibujo3{
    margin-top: 180px;
}

.dibujo4{
    margin-top: 180px;
}