.userInfoPub {
    display: flex; 
     text-decoration: none;
}

.userInfoPub img {
    border-radius: 100px;
    margin-right: 10px;
}

.userInfoPub p {
    margin-top: 10px;
    text-decoration: none;
}

#scroll3 {
    border: 1px solid;
    height: 400px;
    width: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.comentarios{
    width: 85%;
}
.infoUserComentario{
  width: 30%;
}
