body {
    background: #282828;
}

.registrarse {
    align-items: center;
    height: 720px;
    width: 550px;
    font-family: Arial Black;
    background: #f54a7e;
    padding: 40px 50px;
}
/*
.error {
    color: #282828;
}

.errorwhite {
    color: white;
}

.hola {
    margin-top: 140px;
    margin-left: 190px;
}

#registroForm {
    margin-bottom: 100px;
}

*/
@media (max-width: 768px) {

    .FotoUser {
        display: none;
    }
    .Registro{
        display: block;
    }
    .FormRegistro{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .registrarse {
        height: 720px;
        width: 100%;
    }
    .registrarse input {      
        width: 100%;
    }
}


.Registro{
    display: flex;
}
.FormRegistro{
    margin-top: 100px;
    margin-bottom: 100px;
}