body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  object-fit: cover;
  object-position: 50% 0%;
}

.reg-publ{
  object-fit: contain;
}

.mini-inline {
display: inline;

  
}
.mini-block {
 display: block;
 width: 100% !important;
 height: auto;
 margin-left: 3%;
  padding: 25px;
  border-radius: 15px;   
  background-color: #96d0db27; 
}
.contornos{
  width: auto !important;
  padding-left: 10px;
  height: auto;
  border-radius: 15px;
   
   background-color: #96d0db27; 
 }